* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    box-sizing: border-box;
    margin:0px;
}
nav ul{
    list-style: none;
    text-align: right;

}
nav ul li {
    display: inline-block;
}
nav a:link, nav a:visited{
    text-decoration: none;
    color: black;
    padding: 20px;
    display: inline-block;
}
nav{
    background-color: white;
}

section:nth-child(1){
    background-color: rgb(6, 6, 189);
    padding: 50px;
}
div button{
    margin-top: 0px;
    margin-right: 10px;
    padding: 10px;
    background-color: orangered;
    color: white;
    border: none;
    border-radius: 10px;
    font-weight: bold;
}
button:hover{
    background-color:rgb(250, 169, 18)
}
section h2{
    Text-align: center;
    margin-top: 30px;
    margin-bottom: 20px;
}
.container{
    width: 1200px;
    margin: auto;
}
.boxApresentacao{
    display: flex;
    background-color: white;
    border: 4px solid yellow;
    padding: 25px;
    border-radius: 20px;
    margin:30px;
}
.boxConteudo1{
    display: flex;
    justify-content:center;
}
.boxConteudo2{
    display: flex;
}
.boxConteudo3{
    display: flex;
}
.pConteudo{
    text-align: center;
}
.tamImg{
    width:400px;
    margin: 20px;
}
.separaDiv{
    margin: 90px;
}
div h1{
    font-size: 45px;
    margin-bottom: 20px;
    
}
div h3{
    text-align: center;
    color: orangered;
}
div h4{
    text-align: center;
    color: orangered;
    margin-bottom: 15px;
}
#pApresentacao{
    font-size: 20px;
    margin-bottom: 20px;
    text-align: justify;
}
#pConteudo{
    font-size: 20px;
    text-align: center;
    margin-bottom: 30px;
}
footer{
    background-color: orangered;
}
footer p{
    color: white;
    padding: 30px;
    text-align: center;
}
